@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #136dec;

  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;

  --color-surface-dark: #1a2332;
  --color-surface-darker: #151e2a;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}